<!-- Bootstrap core JavaScript-->
<script src="/vendors/jquery/jquery.min.js"></script>
<script src="/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendors/jquery-easing/jquery.easing.min.js"></script>


<!-- Page level plugins -->
<script src="/vendors/datatables/jquery.dataTables.min.js"></script>
<script src="/vendors/datatables/dataTables.bootstrap4.min.js"></script>


<script src="/vendors/js/angularjs/angular.min.js"></script>
<script src="/vendors/js/angularjs/angular-messages.min.js"></script>
<script src='/vendors/js/angularjs/angular-animate.min.js'></script>
<script src='/vendors/js/angularjs/angular-route.min.js'></script>
<script src='/vendors/js/angularjs/angular-aria.min.js'></script>
<!--<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-messages.min.js'></script>-->
<script src='/vendors/js/moment/moment.js'></script>
<script src='/vendors/js/angularjs/angular-material.js'></script>
<script src="/vendors/js/angularjs/angular-sanitize.js"></script>
<script src="/vendors/js/angularjs/ui-bootstrap-tpls-2.1.3.js"></script>

<script src="/vendors/angular-datatables/js/angular-datatables.js"></script>
<link rel="stylesheet" href="/vendors/angular-datatables/css/buttons.dataTables.min.css">
<script src="/vendors/angular-datatables/js/dataTables.buttons.min.js"></script>
<script src="/vendors/angular-datatables/js/jszip.min.js"></script>
<script src="/vendors/angular-datatables/js/buttons.colVis.min.js"></script>
<script src="/vendors/angular-datatables/js/buttons.flash.min.js"></script>
<script src="/vendors/angular-datatables/js/buttons.html5.min.js"></script>
<script src="/vendors/angular-datatables/js/buttons.print.min.js"></script>
<script src="/vendors/angular-datatables/js/angular-datatable-buttons.js"></script>
<!-- Js Plugins -->
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery-ui.min.js"></script>
<script src="../js/jquery.countdown.min.js"></script>
<script src="../js/jquery.nice-select.min.js"></script>
<script src="../js/jquery.zoom.min.js"></script>
<script src="../js/jquery.dd.min.js"></script>
<script src="../js/jquery.slicknav.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/main.js"></script>



<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.0/ui-bootstrap-tpls.min.js'></script> -->
<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js'></script>
<script src="/vendors/js/angularjs/smart-table.min.js"></script> -->
<!--<script src="/vendors/js/angularjs/smart-table-col-toggle.js"></script>-->
<!-- END ANGULARJS -->

<!--BEGIN ALERTIFY-->
<script src="/vendors/js/alertify/alertify.min.js"></script>
<script src="/vendors/ui-select/js/select.min.js"></script>

<script src="/vendors/ui-select/select.js"></script>
<link rel="stylesheet" href="/vendors/ui-select/select.css">
<!-- <link rel="stylesheet" href="/vendors/ui-select/css/select.min.css"> -->