<footer class="page-footer font-small mt-5" style="background-color: rgb(32, 32, 77);">
    <br>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
            <div class="col-md-1"></div>
            <!-- Grid column -->
            <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold" style="color: yellow;">Information</h6>
                <hr class="deep-purple accent-2 mb-5 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#">Return Policy</a>
                </p>
                <p>
                    <a href="#">Payment Policy</a>
                </p>
                <p>
                    <a href="#">Shipping Policy</a>
                </p>
                <p>
                    <a href="#">Terms and conditions</a>
                </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold" style="color: yellow;">Build Your Business With Us</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#">Your Account</a>
                </p>
                <p>
                    <a href="#">Membership and Subscription</a>
                </p>
                <p>
                    <a href="#">Sell on Dadu</a>
                </p>
                <p>
                    <a href="#">Advertise Your Products</a>
                </p>
                <p>
                    <a href="#">Faq's</a>
                </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold" style="color: yellow;">Contact Us</h6>
                <hr class="deep-purple accent-2 mb-5 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fas fa-home mr-3"></i> Kolhapur, Maharashtra, India 416012
                </p>
                <p>
                    <i class="fas fa-phone mr-3"></i> + 01 234 567 89
                </p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> info@dadu.com
                </p>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->
    <hr style="border: 0.3px solid black">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <a href="#"><button class="btn btn-md btn-primary ml-5"><i class="fab fa-facebook-f"></i></button></a>
            <a href="#"><button class="btn btn-md btn-info"><i class="fab fa-twitter"></i></button></a>
            <a href="#"><button class="btn btn-md btn-danger"><i class="fab fa-youtube"></i></button></a>
        </div>
        <div class="col-md-7 mx-auto">
            <div class="footer-copyright py-3 text-light" style="font-size: 16px;">© 2020 All rights reserved
                <a href="#" class="text-light">dadu.com</a>
            </div>
        </div>
    </div>
</footer>