<!DOCTYPE html>
<html lang="zxx">

<head>
    <%include ../partials/head.ejs%>

</head>

<body class="bg-light" ng-app="myApp" ng-controller="myAppController" ng-init="initializeController('<%-categoryID%>')" ng-cloak>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <div class="super_container">
        <!-- Header -->
        <%include ../partials/header.ejs%>
            <!-- End Header -->
            <!-- Body data -->
            <div class="container" style="margin-top: -40px;">
                <!-- <br>
                <br>
                <br> -->
                <div class="loader" ng-if="loading">
                    <div class="row mt-4">
                        <img class="img  mx-auto mt-4" src="/img/loader.gif" height="80px">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4" ng-repeat="item in items">
                        <figure class="card card-product-grid card-lg">
                            <a href="#" class="img-wrap" data-abc="true"><img src="/distributor/{{item.image}}"></a>
                            <figcaption class="info-wrap">
                                <div class="row">
                                    <div class="col-md-8"> <a href="#" class="title" data-abc="true">{{item.name}}</a> </div>
                                    <div class="col-md-4">
                                        <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                                    </div>
                                </div>
                            </figcaption>
                            <div class="bottom-wrap"> <a href="#" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                                <div class="price-wrap"> <span class="price h5">$999</span> <br> <small class="text-success">Free shipping</small> </div>
                            </div>
                        </figure>
                    </div>
                
                </div>

                <nav class="mt-3" aria-label="Page navigation example" ng-if="pager.pages.length > 1">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" ng-class="{disabled:pager.currentPage === 1}">
                            <a class="page-link" ng-click="setPage(1)">First</a>
                        </li>
                        <li class="page-item" ng-class="{disabled:pager.currentPage === 1}">
                            <!--<a class="page-link" ng-click="setPage(pager.currentPage - 1)">Previous</a>-->
                            <a class="page-link" ng-click="setPage(pager.currentPage - 1)"><i
                                        class="fa fa-arrow-left" aria-hidden="true"></i></a>
                        </li>
                        <li class="page-item" ng-repeat="page in pager.pages" id="page{{$index+1}}"
                            ng-class="{active:pager.currentPage === page}"><a class="page-link"
                                                                              ng-click="setPage(page)">{{page}}</a>
                        </li>

                        <li class="page-item" ng-class="{disabled:pager.currentPage === pager.totalPages}">
                            <!--<a class="page-link" ng-click="setPage(pager.currentPage + 1)">Next</a>-->
                            <a class="page-link" ng-click="setPage(pager.currentPage + 1)"><i
                                        class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </li>
                        <li class="page-item" ng-class="{disabled:pager.currentPage === pager.totalPages}">
                            <a class="page-link" ng-click="setPage(pager.totalPages)">Last</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Container Ends -->
    </div>
    <!-- Footer -->
    <%include ../partials/footer.ejs%>
        <!-- Footer -->
        </div>
        <!-- bodyScriptLoader -->
        <%include ../partials/bodyScripts.ejs%>
        
        <script src="/js/underscore.min.js"></script>
            <!-- bodyScriptLoader -->

            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
            <script>
                <%include ./ng-app.js%>

                $(document).ready(function() {
                    "use strict";

                    var menuActive = false;
                    var header = $('.header');
                    setHeader();
                    initCustomDropdown();
                    initPageMenu();

                    function setHeader() {

                        if (window.innerWidth > 991 && menuActive) {
                            closeMenu();
                        }
                    }

                    function initCustomDropdown() {
                        if ($('.custom_dropdown_placeholder').length && $('.custom_list').length) {
                            var placeholder = $('.custom_dropdown_placeholder');
                            var list = $('.custom_list');
                        }

                        placeholder.on('click', function(ev) {
                            if (list.hasClass('active')) {
                                list.removeClass('active');
                            } else {
                                list.addClass('active');
                            }

                            $(document).one('click', function closeForm(e) {
                                if ($(e.target).hasClass('clc')) {
                                    $(document).one('click', closeForm);
                                } else {
                                    list.removeClass('active');
                                }
                            });

                        });

                        $('.custom_list a').on('click', function(ev) {
                            ev.preventDefault();
                            var index = $(this).parent().index();

                            placeholder.text($(this).text()).css('opacity', '1');

                            if (list.hasClass('active')) {
                                list.removeClass('active');
                            } else {
                                list.addClass('active');
                            }
                        });


                        $('select').on('change', function(e) {
                            placeholder.text(this.value);

                            $(this).animate({
                                width: placeholder.width() + 'px'
                            });
                        });
                    }

                    /*

                    4. Init Page Menu

                    */

                    function initPageMenu() {
                        if ($('.page_menu').length && $('.page_menu_content').length) {
                            var menu = $('.page_menu');
                            var menuContent = $('.page_menu_content');
                            var menuTrigger = $('.menu_trigger');

                            //Open / close page menu
                            menuTrigger.on('click', function() {
                                if (!menuActive) {
                                    openMenu();
                                } else {
                                    closeMenu();
                                }
                            });

                            //Handle page menu
                            if ($('.page_menu_item').length) {
                                var items = $('.page_menu_item');
                                items.each(function() {
                                    var item = $(this);
                                    if (item.hasClass("has-children")) {
                                        item.on('click', function(evt) {
                                            evt.preventDefault();
                                            evt.stopPropagation();
                                            var subItem = item.find('> ul');
                                            if (subItem.hasClass('active')) {
                                                subItem.toggleClass('active');
                                                TweenMax.to(subItem, 0.3, {
                                                    height: 0
                                                });
                                            } else {
                                                subItem.toggleClass('active');
                                                TweenMax.set(subItem, {
                                                    height: "auto"
                                                });
                                                TweenMax.from(subItem, 0.3, {
                                                    height: 0
                                                });
                                            }
                                        });
                                    }
                                });
                            }
                        }
                    }

                    function openMenu() {
                        var menu = $('.page_menu');
                        var menuContent = $('.page_menu_content');
                        TweenMax.set(menuContent, {
                            height: "auto"
                        });
                        TweenMax.from(menuContent, 0.3, {
                            height: 0
                        });
                        menuActive = true;
                    }

                    function closeMenu() {
                        var menu = $('.page_menu');
                        var menuContent = $('.page_menu_content');
                        TweenMax.to(menuContent, 0.3, {
                            height: 0
                        });
                        menuActive = false;
                    }


                });
            </script>
</body>

</html>