<!DOCTYPE html>
<html lang="zxx">

<head>
    <%include ../partials/head.ejs%>

</head>

<body class="bg-light" ng-app="myApp" ng-controller="myAppController" ng-init="initializeController()" ng-cloak>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <div class="super_container">
        <!-- Header -->
        <%include ../partials/header.ejs%>
            <!-- End Header -->
            <div style="margin-top: -16px;">
                <!-- Header End -->
                <br>
                <!-- Body data -->
                <div class="cart_section">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <div class="cart_container">
                                    <div class="cart_title">Shopping Cart<small> (1 item in your cart) </small></div>
                                    <div class="cart_items">
                                        <ul class="cart_list">
                                            <li class="cart_item clearfix">
                                                <div class="cart_item_image"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560924153/alcatel-smartphones-einsteiger-mittelklasse-neu-3m.jpg" alt=""></div>
                                                <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                                    <div class="cart_item_name cart_info_col">
                                                        <div class="cart_item_title">Name</div>
                                                        <div class="cart_item_text">Samsung C7 Pro</div>
                                                    </div>
                                                    <div class="cart_item_color cart_info_col">
                                                        <div class="cart_item_title">Color</div>
                                                        <div class="cart_item_text"><span style="background-color:#999999;"></span>Silver</div>
                                                    </div>
                                                    <div class="cart_item_quantity cart_info_col">
                                                        <div class="cart_item_title">Quantity</div>
                                                        <div class="cart_item_text">1</div>
                                                    </div>
                                                    <div class="cart_item_price cart_info_col">
                                                        <div class="cart_item_title">Price</div>
                                                        <div class="cart_item_text">₹22000</div>
                                                    </div>
                                                    <div class="cart_item_total cart_info_col">
                                                        <div class="cart_item_title">Total</div>
                                                        <div class="cart_item_text">₹22000</div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="order_total">
                                        <div class="order_total_content text-md-right">
                                            <div class="order_total_title">Order Total:</div>
                                            <div class="order_total_amount">₹22000</div>
                                        </div>
                                    </div>
                                    <div class="cart_buttons"> <button type="button" class="button cart_button_clear">Continue Shopping</button> <button type="button" class="button cart_button_checkout">Add to Cart</button> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- Container Ends -->
            </div>
            <!-- Footer -->
            <%include ../partials/footer.ejs%>
                <!-- Footer -->
    </div>
    <!-- bodyScriptLoader -->
    <%include ../partials/bodyScripts.ejs%>
        <!-- bodyScriptLoader -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
        <script>
            <%include ./ng-app.js%>

            $(document).ready(function() {
                "use strict";

                var menuActive = false;
                var header = $('.header');
                setHeader();
                initCustomDropdown();
                initPageMenu();

                function setHeader() {

                    if (window.innerWidth > 991 && menuActive) {
                        closeMenu();
                    }
                }

                function initCustomDropdown() {
                    if ($('.custom_dropdown_placeholder').length && $('.custom_list').length) {
                        var placeholder = $('.custom_dropdown_placeholder');
                        var list = $('.custom_list');
                    }

                    placeholder.on('click', function(ev) {
                        if (list.hasClass('active')) {
                            list.removeClass('active');
                        } else {
                            list.addClass('active');
                        }

                        $(document).one('click', function closeForm(e) {
                            if ($(e.target).hasClass('clc')) {
                                $(document).one('click', closeForm);
                            } else {
                                list.removeClass('active');
                            }
                        });

                    });

                    $('.custom_list a').on('click', function(ev) {
                        ev.preventDefault();
                        var index = $(this).parent().index();

                        placeholder.text($(this).text()).css('opacity', '1');

                        if (list.hasClass('active')) {
                            list.removeClass('active');
                        } else {
                            list.addClass('active');
                        }
                    });


                    $('select').on('change', function(e) {
                        placeholder.text(this.value);

                        $(this).animate({
                            width: placeholder.width() + 'px'
                        });
                    });
                }

                /*

                4. Init Page Menu

                */

                function initPageMenu() {
                    if ($('.page_menu').length && $('.page_menu_content').length) {
                        var menu = $('.page_menu');
                        var menuContent = $('.page_menu_content');
                        var menuTrigger = $('.menu_trigger');

                        //Open / close page menu
                        menuTrigger.on('click', function() {
                            if (!menuActive) {
                                openMenu();
                            } else {
                                closeMenu();
                            }
                        });

                        //Handle page menu
                        if ($('.page_menu_item').length) {
                            var items = $('.page_menu_item');
                            items.each(function() {
                                var item = $(this);
                                if (item.hasClass("has-children")) {
                                    item.on('click', function(evt) {
                                        evt.preventDefault();
                                        evt.stopPropagation();
                                        var subItem = item.find('> ul');
                                        if (subItem.hasClass('active')) {
                                            subItem.toggleClass('active');
                                            TweenMax.to(subItem, 0.3, {
                                                height: 0
                                            });
                                        } else {
                                            subItem.toggleClass('active');
                                            TweenMax.set(subItem, {
                                                height: "auto"
                                            });
                                            TweenMax.from(subItem, 0.3, {
                                                height: 0
                                            });
                                        }
                                    });
                                }
                            });
                        }
                    }
                }

                function openMenu() {
                    var menu = $('.page_menu');
                    var menuContent = $('.page_menu_content');
                    TweenMax.set(menuContent, {
                        height: "auto"
                    });
                    TweenMax.from(menuContent, 0.3, {
                        height: 0
                    });
                    menuActive = true;
                }

                function closeMenu() {
                    var menu = $('.page_menu');
                    var menuContent = $('.page_menu_content');
                    TweenMax.to(menuContent, 0.3, {
                        height: 0
                    });
                    menuActive = false;
                }


            });
        </script>
</body>

</html>