<!DOCTYPE html>
<html lang="zxx">

<head>
    <%include ../partials/head.ejs%>

</head>

<body class="bg-light" ng-app="myApp" ng-controller="myAppController" ng-init="initializeController()" ng-cloak>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <div class="super_container">
        <!-- Header -->
        <%include ../partials/header.ejs%>
            <!-- End Header -->

            <div style="margin-top: -16px;">
                <!-- slider -->
                <div id="demo" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/img/hero-1.jpg" alt="img" width="1100" height="500">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/hero-2.jpg" alt="img" width="1100" height="500">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/hero-3.jpg" alt="img" width="1100" height="500">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>

                <!-- slider end -->

                <!-- Header End -->

                <br>

                <!-- Body data -->
                <div class="container">
                    <div class="row my-3 mx-2">
                        <div class="col-md-3 mb-1">
                            <div class="card flex-row flex-wrap border border-warning">
                                <div class="card-header bg-transparent border-0">
                                    <i class="fa fa-truck fa-2x mt-2 text-warning" aria-hidden="true"></i>
                                </div>
                                <div class="card-block pt-2">
                                    <h6 class="pt-1">Free Shopping Item</h6>
                                    <p class=" pt-0">Orders Over $500</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 mb-1">
                            <div class="card flex-row flex-wrap border border-warning">
                                <div class="card-header bg-transparent border-0">
                                    <i class="fa fa-repeat fa-2x mt-2 text-warning" aria-hidden="true"></i>
                                </div>
                                <div class="card-block pt-2">
                                    <h6 class="pt-1">Money Back Guarantee</h6>
                                    <p class=" pt-0">100% Money Back</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 mb-1">
                            <div class="card flex-row flex-wrap border border-warning">
                                <div class="card-header bg-transparent border-0">
                                    <i class="fa fa-money fa-2x mt-2 text-warning" aria-hidden="true"></i>
                                </div>
                                <div class="card-block pt-2">
                                    <h6 class="pt-1">Cash On Delivery</h6>
                                    <p class=" pt-0">Orders Over $500</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 mb-1">
                            <div class="card flex-row flex-wrap border border-warning">
                                <div class="card-header bg-transparent border-0">
                                    <i class="fa fa-support fa-2x mt-2 text-warning" aria-hidden="true"></i>
                                </div>
                                <div class="card-block pt-2">
                                    <h6 class="pt-1">Help & Support</h6>
                                    <p class=" pt-0">Call us: +0123456789</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row mt-2">
                        <div class="col-md-4 mb-2 mx-auto">
                            <img src="http://placehold.jp/350x200.png" width="100%">
                        </div>
                        <div class="col-md-4 mb-2">
                            <img src="http://placehold.jp/350x200.png" width="100%">
                        </div>
                        <div class="col-md-4 mb-2">
                            <img src="http://placehold.jp/350x200.png" width="100%">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <img src="../crop/250x700.jpg" width="100%">
                        </div>
                        <div class="col-md-9 bg-white px-3 py-2 rounded">
                            <div class="row m-2" style="border-bottom: 2px black solid;">
                                <a class="p-2 text-light" style="background-color: black;">HOT DEALS</a>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3" ng-repeat="item in items">
                                    <div class="card" style="background: transparent; border: none;">
                                        <img src="{{item.image}}" class="card-img-top" alt="...">
                                        <div class="card-body p-0">
                                            <h5 class="card-title pt-2">{{item.name}}</h5>
                                            <h5 class="card-text">Seller Name</h5>
                                            <h5 class="card-text text-primary">₹{{item.offerPrice}}/-</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <nav class="mt-3" aria-label="Page navigation example" ng-if="pager.pages.length > 1">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item" ng-class="{disabled:pager.currentPage === 1}">
                                        <a class="page-link" ng-click="setPage(1)">First</a>
                                    </li>
                                    <li class="page-item" ng-class="{disabled:pager.currentPage === 1}">
                                        <!--<a class="page-link" ng-click="setPage(pager.currentPage - 1)">Previous</a>-->
                                        <a class="page-link" ng-click="setPage(pager.currentPage - 1)"><i
                                                    class="fa fa-arrow-left" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="page-item" ng-repeat="page in pager.pages" id="page{{$index+1}}"
                                        ng-class="{active:pager.currentPage === page}"><a class="page-link"
                                                                                          ng-click="setPage(page)">{{page}}</a>
                                    </li>
            
                                    <li class="page-item" ng-class="{disabled:pager.currentPage === pager.totalPages}">
                                        <!--<a class="page-link" ng-click="setPage(pager.currentPage + 1)">Next</a>-->
                                        <a class="page-link" ng-click="setPage(pager.currentPage + 1)"><i
                                                    class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="page-item" ng-class="{disabled:pager.currentPage === pager.totalPages}">
                                        <a class="page-link" ng-click="setPage(pager.totalPages)">Last</a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav> -->
                        </div>
                    </div>
                </div>
                <br>
                <!-- Container Ends -->
            </div>
            <!-- Footer -->
            <%include ../partials/footer.ejs%>
                <!-- Footer -->
    </div>
    <!-- bodyScriptLoader -->
    <%include ../partials/bodyScripts.ejs%>
        <!-- bodyScriptLoader -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
        <script>
            <%include ./ng-app.js%>

            $(document).ready(function() {
                "use strict";

                var menuActive = false;
                var header = $('.header');
                setHeader();
                initCustomDropdown();
                initPageMenu();

                function setHeader() {

                    if (window.innerWidth > 991 && menuActive) {
                        closeMenu();
                    }
                }

                function initCustomDropdown() {
                    if ($('.custom_dropdown_placeholder').length && $('.custom_list').length) {
                        var placeholder = $('.custom_dropdown_placeholder');
                        var list = $('.custom_list');
                    }

                    placeholder.on('click', function(ev) {
                        if (list.hasClass('active')) {
                            list.removeClass('active');
                        } else {
                            list.addClass('active');
                        }

                        $(document).one('click', function closeForm(e) {
                            if ($(e.target).hasClass('clc')) {
                                $(document).one('click', closeForm);
                            } else {
                                list.removeClass('active');
                            }
                        });

                    });

                    $('.custom_list a').on('click', function(ev) {
                        ev.preventDefault();
                        var index = $(this).parent().index();

                        placeholder.text($(this).text()).css('opacity', '1');

                        if (list.hasClass('active')) {
                            list.removeClass('active');
                        } else {
                            list.addClass('active');
                        }
                    });


                    $('select').on('change', function(e) {
                        placeholder.text(this.value);

                        $(this).animate({
                            width: placeholder.width() + 'px'
                        });
                    });
                }

                /*

                4. Init Page Menu

                */

                function initPageMenu() {
                    if ($('.page_menu').length && $('.page_menu_content').length) {
                        var menu = $('.page_menu');
                        var menuContent = $('.page_menu_content');
                        var menuTrigger = $('.menu_trigger');

                        //Open / close page menu
                        menuTrigger.on('click', function() {
                            if (!menuActive) {
                                openMenu();
                            } else {
                                closeMenu();
                            }
                        });

                        //Handle page menu
                        if ($('.page_menu_item').length) {
                            var items = $('.page_menu_item');
                            items.each(function() {
                                var item = $(this);
                                if (item.hasClass("has-children")) {
                                    item.on('click', function(evt) {
                                        evt.preventDefault();
                                        evt.stopPropagation();
                                        var subItem = item.find('> ul');
                                        if (subItem.hasClass('active')) {
                                            subItem.toggleClass('active');
                                            TweenMax.to(subItem, 0.3, {
                                                height: 0
                                            });
                                        } else {
                                            subItem.toggleClass('active');
                                            TweenMax.set(subItem, {
                                                height: "auto"
                                            });
                                            TweenMax.from(subItem, 0.3, {
                                                height: 0
                                            });
                                        }
                                    });
                                }
                            });
                        }
                    }
                }

                function openMenu() {
                    var menu = $('.page_menu');
                    var menuContent = $('.page_menu_content');
                    TweenMax.set(menuContent, {
                        height: "auto"
                    });
                    TweenMax.from(menuContent, 0.3, {
                        height: 0
                    });
                    menuActive = true;
                }

                function closeMenu() {
                    var menu = $('.page_menu');
                    var menuContent = $('.page_menu_content');
                    TweenMax.to(menuContent, 0.3, {
                        height: 0
                    });
                    menuActive = false;
                }


            });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.10.2/underscore-min.js"></script>
</body>

</html>